[submodule "astro"]
	path = astro
	url = git@github.com:withastro/astro
[submodule "solid-start"]
	path = solid-start
	url = git@github.com:solidjs/solid-start
[submodule "nuxt.js"]
	path = nuxt.js
	url = git@github.com:nuxt/nuxt.js
[submodule "iles"]
	path = iles
	url = git@github.com:ElMassimo/iles
[submodule "analog"]
	path = analog
	url = git@github.com:analogjs/analog
[submodule "rakkasjs"]
	path = rakkasjs
	url = git@github.com:rakkasjs/rakkasjs
[submodule "qwik"]
	path = qwik
	url = git@github.com:BuilderIO/qwik
[submodule "redwood"]
	path = redwood
	url = git@github.com:redwoodjs/redwood
[submodule "sveltekit"]
	path = sveltekit
	url = git@github.com:sveltejs/kit
[submodule "remix"]
	path = remix
	url = git@github.com:remix-run/remix
